**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.classpath
**/.dockerignore
**/venv
**/.venv
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
htmlcov/
coverage.xml
.coverage
README.md
LICENSE.md
.github/
.pre-commit-config.yaml
**/.ruff_cache
